**/.ipynb_checkpoints
**/.chainlit
**/junk*.*
**/.DS_Store
**/__pycache__/
**/*.py[cod]
**/Thumbs.db
**/OLD
**/SKIP
**/~*
*_pdf.txt
*_ppt.txt
open_llm_leaderboard
llm_leaderboard_*.xlsx
.sesskey
**/*.db
**/*.db.lock
**/uploaded_files
**/preuploaded_files
**/.venv/
**/.env
demo_AI_NEWSLETTER/scrape_master_3/output
**/output/
